<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!--[if IE 7]>
    <link href="~/Content/font-awesome-ie7.min.css" rel="stylesheet" />
    <![endif]-->

    @Styles.Render("~/Content/flat")
   
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
</head>
<body>
    <nav class="navbar navbar-inverse" style="border-radius:0px">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="~/Images/logo.png" width="30">
                    Maraton Business
                </a>
            </div>
        </div>
    </nav>
     
    <div class="container-fluid" style="padding-left:20px; padding-right:20px; padding-bottom:150px">
        <div class="body-content">
            <div class="row">
                <div class="col-md-2">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            Feature
                        </a>
                        <a href="@Url.Action("index", "Task")" class="list-group-item">Task</a>
                        <a href="@Url.Action("index", "Servant")" class="list-group-item">Servant</a>

                    </div>

                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            Template
                        </a>
                        <a href="@Url.Action("index", "Pipeline")" class="list-group-item">Pipeline</a>
                        <a href="@Url.Action("index", "Pipe")" class="list-group-item">Pipe</a>

                    </div>

                    <div class="list-group">
                        <a href="#" class="list-group-item active">
                            DFS
                        </a>
                        <a href="@Url.Action("index", "dfs")" class="list-group-item">File</a>
                        <a href="@Url.Action("node", "dfs")" class="list-group-item">Node</a>

                    </div>

                </div>

                <div class="col-md-10">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container-fluid navbar-fixed-bottom">
            <div class="row navbar-inverse" style="height:150px">
                <div  class="col-lg-12 ">
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
