<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")

    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!--[if IE 7]>
    <link href="~/Content/font-awesome-ie7.min.css" rel="stylesheet" />
    <![endif]-->

    @Styles.Render("~/Content/flat")
   
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
</head>
<body>
    <nav class="navbar navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="~/Images/logo.png" width="32">
                    Maraton Business
                </a>
            </div>
        </div>
    </nav>

    @*<div class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar">
                        </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Images/logo.png" width="40" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("任务", "Index", "Home")</li>
                        <li>@Html.ActionLink("执行器", "About", "Home")</li>
                        <li>@Html.ActionLink("模板", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>*@

    <div class=".container-fluid body-content">
        <div class="row">
            <div class="col-md-2">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        Feature
                    </a>
                    <a href="@Url.Action("index", "Task")" class="list-group-item">Task</a>
                    <a href="@Url.Action("index", "Servant")" class="list-group-item">Servant</a>

                </div>

                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        Template
                    </a>
                    <a href="@Url.Action("index", "Pipeline")" class="list-group-item">Pipeline</a>
                    <a href="@Url.Action("index", "Pipe")" class="list-group-item">Pipe</a>

                </div>

                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        DFS
                    </a>
                    <a href="@Url.Action("index", "dfs")" class="list-group-item">File</a>
                    <a href="@Url.Action("node", "dfs")" class="list-group-item">Node</a>

                </div>

            </div>
            
            <div class="col-md-10">
                @RenderBody()
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row" style="height:130px">
                <div class="col-lg-12">
                    <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
