@model List<MRTBusiness.Models.DbAttachment>
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="@Url.Action("index","attachment")">Servant</a></li>
</ol>
<hr />
<script src="//cdn.bootcss.com/plupload/2.1.8/plupload.full.min.js"></script>
<div class="row">
    <div class="col-md-12">
        <script>
                $(document).ready(function () {

                    var uploader = new plupload.Uploader({
                        browse_button: 'pickfiles', // you can pass an id...
                        container: document.getElementById('container'), // ... or DOM Element itself
                        url: '@Url.Action("upload")',
                        //flash_swf_url: '//cdn.bootcss.com/plupload/2.1.8/Moxie.swf',
                        runtimes: 'html5',
                        chunk_size: '1mb',
                        //unique_names : true,
                        max_retries: 100,
                        filters: {
                            max_file_size: '2000mb',
                            mime_types: [
                                { title: "fastq", extensions: "fastq" },
                                { title: "Image files", extensions: "jpg,gif,png" },
                                { title: "Zip files", extensions: "zip" }
                            ]
                        },

                        init: {
                            PostInit: function () {
                                document.getElementById('filelist').innerHTML = '';
                            },

                            FilesAdded: function (up, files) {
                                plupload.each(files, function (file) {
                                    var html = '<div id="div_'+file.id+'"><p>' + file.name + ' (' + plupload.formatSize(file.size) + ')' + '</p>' +
                                               '<div class="progress">' +
                                               '<div class="progress-bar" id="' + file.id + '" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"> 0%' +
                                               '</div></div></div>';
                                    document.getElementById('filelist').innerHTML += html;
                                    uploader.start();
                                });
                            },

                            UploadProgress: function (up, file) {
                                $("#" + file.id).attr("aria-valuenow", file.percent);
                                $("#" + file.id).attr("style" , "width:"+file.percent+"%");
                                $("#" + file.id).html(file.percent + "%");

                                if( file.percent == 100)
                                {
                                    $("#div_" + file.id).hide(100, function () {
                                    });
                                    //setInterval(function () {
                                    //    $("#div_" + file.id).hide(100, function () {
                                    //        location.reload();
                                    //    });
                                    //}, 2000);
                                }
                                //document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
                            },

                            Error: function (up, err) {
                                alert('['+err.code+']'+err.message);
                            }
                        }
                    });

                    uploader.init();
                });

        </script>
        <div id="filelist">Your browser doesn't have Flash, Silverlight or HTML5 support.</div>
        <br />

        <div id="container">
            <a id="pickfiles" href="javascript:;" class="btn btn-info">[Select files]</a>
        </div>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-lg-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>
                        File Name
                    </td>
                    <td>
                        Remote Name
                    </td>
                    <td>
                        Status
                    </td>
                    <td>
                        Create Time
                    </td>
                    <td>
                        Edit
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr>
                        <td>
                            @m.Name
                        </td>
                        <td>
                            <a href="yhfs://@m.RemotePath">@m.RemotePath</a>
                        </td>
                        <td>
                            @m.State
                        </td>
                        <td>
                            @m.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")
                        </td>
                        <td>

                            @if (m.State == 2)
                            {
                                <a href="@Url.Action("create","Task" , new { inputs = m.RemotePath })" class="btn btn-info">Create Task</a>
                            }

                            <a href="@Url.Action("delete" , new { id = m.Id })" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>