@model MaratonBusiness.Models.DbPipe

@{
    ViewBag.Title = "edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="@Url.Action("index","Pipe")">Pipe</a></li>
    <li><a href="#">Edit</a></li>
</ol>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <span class="control-label col-md-2">Id</span>
            <div class="col-md-10">
                <span class="control-label">@Model.Id </span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Executor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Executor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Executor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Multiple Input</label>
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.IsMultipleInput, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IsMultipleInput, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Multiple Thread</label>
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.IsMultipleThread, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IsMultipleThread, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Parameters</span>
            <div class="col-md-10">
                <textarea class="form-control" name="Parameters" type="text">@string.Join("\r\n", Model.Parameters)</textarea>
            </div> 
        </div>

        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
 
<div class="alert alert-info">
    <p>Parameters Macro:</p>
    <p>$core$ = cpu core num</p>
    <p>$input$ = input file name with path</p>
    <p>$filename$ = input file name without path</p>
    <p>$path$ = input file path without file name</p>
    <p>$taskid$ = task id</p>
</div>