@model MRTBusiness.Models.DFSFile
@{
    ViewBag.Title = "edit";
    Layout = null;
}
<div class=".container-fluid body-content">
    <div class="row">
        <div class="col-lg-12">
            <a class="btn btn-info" href="@Url.Action("create","Task",new { inputs = Model.Path })">Create Task</a>
            <button data-zclip-text="@Model.Path" class="zclip btn btn-info">Copy Path</button>           
        </div>
    </div>

    <hr />

    <div class="row">

        <div class="col-lg-2">
            <p>Path</p>
        </div>

        <div class="col-lg-10" style="word-wrap: break-word;word-break: normal;">
            <span class="text-justify">@(Model.Path)</span>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-2">
            <p>Size</p>
        </div>

        <div class="col-lg-10">
            <span>@Model.Size (@(Model.Size / (1024.0f * 1024.0f))MB)</span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>
                            PartId
                        </td>
                        <td>
                            Size
                        </td>
                        <td>
                            NodeCount
                        </td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Block)
                    {
                        <tr>
                            <td>
                                @item.Partid
                            </td>
                            <td>
                                @item.Size
                            </td>
                            <td>
                                @item.Nodecount
                            </td>
                            <td>
                                @foreach (var n in item.Node)
                                {
                                    @n.Address<br />
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>